<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../rouserce/css/style.css">
    <title>Home Page</title>
</head>
<body>
    <div class="fundo">
        <div class="container">
            <div class="foco">
                <header>
                    <a href="">PlantFashion</a>
                    <ul>
                        <li><a href="">Plant Shop</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Inspirations</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </header>
                <div>
                    <h1>Find the perfect complement to your room</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores atque ipsam quia officiis perferendis deserunt, culpa voluptate consequuntur necessitatibus eos aliquam ad. Ducimus consequatur facere perferendis provident sequi sapiente dolorem.</p>
                </div>
                <button>Read more</button>
                
            </div>
            <img src="../../rouserce/img/planta-1.png" alt="">
        </div>
    </div>
</body>
</html>